In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [3]:
documents = pd.read_csv("../data/gapminder2007.csv", sep=";", encoding="utf-8")

In [4]:
documents.shape

(142, 6)

In [5]:
documents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           142 non-null    object
 1   continent    142 non-null    object
 2   description  142 non-null    object
 3   pop          140 non-null    float64
 4   lifeExp      142 non-null    float64
 5   gdpPercap    142 non-null    float64
dtypes: float64(3), object(3)
memory usage: 6.8+ KB

In [6]:
documents.describe()

                pop     lifeExp     gdpPercap
count  1.400000e+02  142.000000    142.000000
mean   4.416147e+07   67.007423  11680.071820
std    1.486302e+08   12.073021  12859.937337
min    1.995790e+05   39.613000    277.551859
25%    4.537476e+06   57.160250   1624.842248
50%    1.051753e+07   71.935500   6124.371109
75%    2.985028e+07   76.413250  18008.835640
max    1.318683e+09   82.603000  49357.190170

In [7]:
documents.head()

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640

# is equal to (single value)

In [8]:
documents[documents["description"] == "Europe"]

Empty DataFrame
Columns: [Id, continent, description, pop, lifeExp, gdpPercap]
Index: []

In [9]:
documents[documents["continent"] == "Europe"].head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820

In [10]:
column = "continent"
value = "Europe"
documents[documents[column] == value].head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820

In [11]:
column = "continent"
value = "Europe"
operator = "=="
documents.query(f"{column} {operator} '{value}'").head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820

In [12]:
documents[documents["pop"] == 8199783.0]

,Id,continent,description,pop,lifeExp,gdpPercap
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.4927

In [13]:
column = "pop"
value = 8199783.0
documents[documents[column] == value ]

,Id,continent,description,pop,lifeExp,gdpPercap
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.4927

In [14]:
column = "pop"
value = 8199783.0
operator = "=="
documents.query(f"{column} {operator} {value}" ).head()

,Id,continent,description,pop,lifeExp,gdpPercap
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.4927

# is greater than or equal to

In [15]:
documents[documents["pop"] >= 8199783.0]

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
...,...,...,...,...,...,...
136,Venezuela,Americas,in South America,26084662.0,73.747,11415.805690
137,Vietnam,Asia,a country in Asia,85262356.0,74.249,2441.576404
139,Yemen,Asia,a country in Asia,22211743.0,62.698,2280.769906
140,Zambia,Africa,continent,11746035.0,42.384,1271.211593
141,Zimbabwe,Africa,another country in Africa,12311143.0,43.487,469.709298

In [16]:
column = "pop"
value = "8199783.0"
operator = "=="
documents.query(f"{column} {operator} '{value}'" ).head()

,Id,continent,description,pop,lifeExp,gdpPercap
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.4927

In [17]:
column = "pop"
value = 8199783.0
operator = "<="
documents.query(f"{column} {operator} {value}" ).head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
7,Bahrain,Asia,a very small country,708573.0,75.635,29796.048340
10,Benin,Africa,another country in Africa,8078314.0,56.728,1441.284873
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

# is not equal to

In [18]:
documents[documents["continent"] != "Europe"]

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
...,...,...,...,...,...,...
137,Vietnam,Asia,a country in Asia,85262356.0,74.249,2441.576404
138,West Bank and Gaza,Asia,a country in Asia,4018332.0,73.422,3025.349798
139,Yemen,Asia,a country in Asia,22211743.0,62.698,2280.769906
140,Zambia,Africa,continent,11746035.0,42.384,1271.211593
141,Zimbabwe,Africa,another country in Africa,12311143.0,43.487,469.709298

In [19]:
column = "continent"
value = "Europe"
operator = "!="
documents.query(f"{column} {operator} '{value}'").head()

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440

In [20]:
column = "continent"
value = "'Europe'"
operator = "!="
documents.query(f"{column} {operator} {value}").head()

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440

In [21]:
column = "continent"
value = "Europe"
operator = "=="
f"{column} {operator} @value"
documents.query(f"{column} {operator} @value").head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820

# in a list

In [22]:
documents[documents["continent"].isin(["Europe", "Oceania"])].head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

In [23]:
column = "continent"
value = ["Europe", "Oceania"]
operator = "=="
f"{column} {operator} @value"
documents.query(f"{column} {operator} @value").head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

In [24]:
column = "continent"
value = ["Europe", "Oceania"]
operator = "=="
f"{column} {operator} @value"
documents.query(f"{column} {operator} @value").index

Int64Index([  1,   5,   6,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,
             56,  57,  62,  64,  84,  90,  91,  95, 102, 103, 106, 111, 114,
            115, 118, 122, 123, 131, 133],
           dtype='int64')

In [25]:
column = "continent"
value = ["Europe", "Oceania"]
operator = "=="
f"{column} {operator} @value"
documents.query(f"{column} {operator} @value").index, documents.iloc[documents.query(f"{column} {operator} @value").index].head()

(Int64Index([  1,   5,   6,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,
              56,  57,  62,  64,  84,  90,  91,  95, 102, 103, 106, 111, 114,
             115, 118, 122, 123, 131, 133],
            dtype='int64'),
                         Id continent  \
 1                  Albania    Europe
 5                Australia   Oceania
 6                  Austria    Europe
 9                  Belgium    Europe
 12  Bosnia and Herzegovina    Europe

                                           description         pop  lifeExp  \
 1                                    un pays d'Europe   3600523.0   76.423
 5   le plus grand pays d'Océanie avec un grand dés...  20434176.0   81.235
 6                un pays d'Europ où on parle allemand   8199783.0   79.829
 9   a small European country with French as one of...  10392226.0   79.441
 12                           small European countries   4552198.0   74.852

        gdpPercap
 1    5937.029526
 5   34435.367440
 6   36126.492700
 9   33692.605080
 12   7446.298803  )

In [26]:
column = "continent"
value = "Europe,Oceania"
list_values = value.split(",")
operator = "=="
documents.query(f"{column} {operator} @list_values").head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

In [27]:
documents["continent"].isin(["Europe", "Oceania"])

0      False
1       True
2      False
3      False
4      False
       ...
137    False
138    False
139    False
140    False
141    False
Name: continent, Length: 142, dtype: bool

# No in a list

In [28]:
documents[~documents["continent"].isin(["Europe", "Oceania", "Asia"])]

,Id,continent,description,pop,lifeExp,gdpPercap
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
10,Benin,Africa,another country in Africa,8078314.0,56.728,1441.284873
11,Bolivia,Americas,a very poor country in South America with no a...,9119152.0,65.554,3822.137084
...,...,...,...,...,...,...
134,United States,Americas,Americas,301139947.0,78.242,42951.653090
135,Uruguay,Americas,Americas,3447496.0,76.384,10611.462990
136,Venezuela,Americas,in South America,26084662.0,73.747,11415.805690
140,Zambia,Africa,continent,11746035.0,42.384,1271.211593
141,Zimbabwe,Africa,another country in Africa,12311143.0,43.487,469.709298

In [29]:
column = "continent"
value = "Europe,Americas,Asia,Africa"
list_values = value.split(",")
operator = "!="
documents.query(f"{column} {operator} @list_values").head()

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [30]:
column = "continent"
value = "Europe,Americas,Asia,Africa"
list_values = value.split(",")
operator = "!="
print(documents.query(f"{column} {operator} @list_values").index)
documents.query(f"{column} {operator} @list_values").head()

Int64Index([5, 91], dtype='int64')

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [31]:
column = "continent"
value = "Europe,Americas,Asia,Africa"
list_values = value.split(",")
operator = "not in"
print(documents.query(f"{column} {operator} @list_values").index)
documents.query(f"{column} {operator} @list_values").head()

Int64Index([5, 91], dtype='int64')

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [32]:
column = "continent"
value = "Oceania"
list_values = value.split(",")
operator = "in"
print(documents.query(f"{column} {operator} @list_values").index)
documents.query(f"{column} {operator} @list_values").head()

Int64Index([5, 91], dtype='int64')

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [33]:
column = "continent"
value = "Oceania,Europe"
list_values = value.split(",")
operator = "in"
print(f"{column} {operator} {list_values}")
documents.query(f"{column} {operator} {list_values}").head()

continent in ['Oceania', 'Europe']

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

In [34]:
column = "continent"
value = "Oceania"
list_values = value.split(",")
operator = "=="
print(f"{column} {operator} {list_values}")
documents.query(f"{column} {operator} {list_values}").head()

continent == ['Oceania']

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [35]:
column = "continent"
value = "Oceania,Europe"
list_values = value.split(",")
operator = "in"
print(f"{column} {operator} {value}")
documents.query(f"{column} {operator} {value}").head()

continent in Oceania,Europe

UndefinedVariableError: name 'Oceania' is not defined

# Tests on contains and doesn't contain

In [36]:
column = "description"
value = "'Ocea'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"{column}.str.contains({value})").head()

["'Ocea'"] in description

,Id,continent,description,pop,lifeExp,gdpPercap
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [37]:
column = "description"
value = "'Europe'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"{column}.str.contains({value})").head()

["'Europe'"] in description

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820
31,Croatia,Europe,a country in Europe,4493312.0,75.748,14619.222720

In [38]:
column = "description"
value = "'Europe'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"{column}.str.contains({value})").head()

["'Europe'"] in description

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820
31,Croatia,Europe,a country in Europe,4493312.0,75.748,14619.222720

In [39]:
column = "description"
value = "'Europe'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"{column}.str.contains({list_values})").head()

["'Europe'"] in description

TypeError: unhashable type: 'list'

# Doesn't contain

In [40]:
column = "description"
value = "'Europe'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"~{column}.str.contains({value})").head()

["'Europe'"] in description

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440

In [41]:
s1 = "Ceci est un test de contenu d'un mot dans une phrase"

In [42]:
s1, s1.lower()

("Ceci est un test de contenu d'un mot dans une phrase",
 "ceci est un test de contenu d'un mot dans une phrase")

In [43]:
"mot" in s1

True

In [44]:
"mots" in s1

False

In [45]:
documents.query("description.str.lower().str.contains('europe')").index

Int64Index([  1,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,  56,  57,
             62,  64,  84,  90,  95, 102, 103, 106, 111, 114, 115, 118, 122,
            123, 131, 133],
           dtype='int64')

In [46]:
documents.description.str.match(".*pays.*").sum()

7

In [47]:
documents.query("description.str.contains('Europe', case=False)").index

Int64Index([  1,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,  56,  57,
             62,  64,  84,  90,  95, 102, 103, 106, 111, 114, 115, 118, 122,
            123, 131, 133],
           dtype='int64')

In [48]:
output = documents.description.str.contains('Europe')

In [49]:
output

0      False
1       True
2      False
3      False
4      False
       ...
137    False
138    False
139    False
140    False
141    False
Name: description, Length: 142, dtype: bool

In [50]:
documents.index[output]

Int64Index([  1,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,  56,  57,
             62,  64,  84,  90,  95, 102, 103, 106, 111, 114, 115, 118, 122,
            123, 131, 133],
           dtype='int64')

In [51]:
output = documents.description.str.endswith('Europe')
documents.index[output]

Int64Index([  1,  15,  31,  33,  34,  43,  44,  47,  49,  56,  57,  62,  64,
             84,  90,  95, 102, 103, 106, 111, 114, 115, 118, 122, 123],
           dtype='int64')

In [52]:
column = "description"
value = "un pays"
operator = "contains"
case = False
query_string = f"{column}.str.{operator}('{value}',case={case})"
print(query_string)

documents.query(query_string).index

description.str.contains('un pays',case=False)

Int64Index([1, 2, 3, 6], dtype='int64')

In [53]:
column = "description"
value = "un pays"
operator = "startswith"
case = False
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

documents.query(query_string).index

description.str.startswith('un pays')

Int64Index([1, 2, 3, 6], dtype='int64')

In [54]:
column = "description"
value = "rope"
operator = "endswith"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

documents.query(query_string).index

description.str.endswith('rope')

Int64Index([  1,  15,  31,  33,  34,  43,  44,  47,  49,  56,  57,  62,  64,
             84,  90,  95, 102, 103, 106, 111, 114, 115, 118, 122, 123],
           dtype='int64')

In [55]:
column = "description"
value = ".*pays.*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

documents.query(query_string).index

description.str.match('.*pays.*')

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [56]:
column = "description"
value = ".*pays.*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

documents.query("description.str.contains('pays')").index

description.str.match('.*pays.*')

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [57]:
column = "description"
value = ".*(pays|country).*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

documents.query(query_string).index

description.str.match('.*(pays|country).*')

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   9,  10,  11,  13,  14,
             15,  16,  17,  18,  24,  31,  33,  34,  43,  44,  46,  47,  49,
             51,  55,  56,  57,  58,  59,  60,  61,  62,  63,  66,  67,  69,
             70,  71,  72,  73,  76,  78,  83,  84,  85,  87,  89,  90,  91,
             94,  95,  96,  97, 101, 102, 103, 106, 109, 111, 113, 114, 115,
            118, 119, 122, 123, 124, 125, 127, 131, 133, 137, 138, 139, 141],
           dtype='int64')

In [58]:
operators = { 'eq': "==",
            "==": "==",
            "in": "==",
            "not in": "!=",
            "!=": "!=",
            "ne": "!=",
            "contains": "contains",
            "match": "match",
            "startswith": "startswith",
            "endswith": "endswith",
            "ge": ">=",
            ">=": ">=",
            "gt": ">",
            ">": ">",
             "le": "<=",
            "<=": "<=",
            "lt": "<",
            "<": ">"
            }

In [59]:
operator_location = { 'eq': "pre",
            "==": "pre",
            "in": "pre",
            "not in": "pre",
            "!=": "pre",
            "ne": "pre",
            "contains": "str",
            "match": "str",
            "startswith": "str",
            "endswith": "str",
            "ge": "pre",
            ">=": "pre",
            "gt": "pre",
            ">": "pre",
             "le": "pre",
            "<=": "pre",
            "lt": "pre",
            "<": "pre"
            }

In [60]:
operator_type = { 'eq': "multi",
            "==": "multi",
            "in": "multi",
            "not in": "multi",
            "!=": "multi",
            "ne": "multi",
            "contains": "uni",
            "match": "uni",
            "startswith": "uni",
            "endswith": "uni",
            "ge": "uni",
            ">=": "uni",
            "gt": "uni",
            ">": "uni",
             "le": "uni",
            "<=": "uni",
            "lt": "uni",
            "<": "uni"
            }

In [61]:
operators["eq"]

'=='

In [62]:
operators["tt"]

KeyError: 'tt'

In [63]:
operators.get("tt", None)

In [64]:
operators.get("in", None)

'=='

In [65]:
pd.__version__

'1.0.2'

In [66]:
_documents = pd.read_csv("../data/train_tickets.csv")
_documents.shape

(236, 4)

In [67]:
column = "Title"
value = ".*(Ethernet|password).*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

_documents.query(query_string).index

Title.str.match('.*(Ethernet|password).*')

Int64Index([0, 1, 16, 22, 66, 70, 97, 123, 139, 162, 174, 182, 184, 213, 214,
            223],
           dtype='int64')

In [68]:
column = "Title"
value = ".*(Ethernet|password).*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

_documents.query(query_string)

Title.str.match('.*(Ethernet|password).*')

,Unnamed: 0,Title,Resolution,class
0,0,Need Ethernet access,Please connect the LAN cable to the red port o...,41
1,1,Create new account and share the username and ...,"Go to URL : accountsetup.com, Enter personal d...",35
16,16,"Account got locked, because of 3 wrong attempt...",Unlocked the account and new password is sent ...,47
22,22,"Forgot the password, can you please reset the ...","Go to URL : password.reset.com, Enter you logi...",36
66,66,Create a new account and share the username an...,"Go to URL : accountsetup.com, Enter personal d...",35
70,70,"Forgotten password, can you please reset the p...","Go to URL : password.reset.com, Enter you logi...",36
97,97,Need Ethernet access,Please connect the LAN cable to the red port o...,41
123,123,Create a new account and share the username an...,"Go to URL : accountsetup.com, Enter personal d...",35
139,139,"I forgot the password, can you reset the passw...","Go to URL : password.reset.com, Enter you logi...",36
162,162,The password expired.,"Go to URL : password.reset.com, Enter you logi...",36
174,174,You need Ethernet access,Please connect the LAN cable to the red port o...,41
182,182,Create a new account and share the username an...,"Go to URL : accountsetup.com, Enter personal d...",35
184,184,"Forgotten password, please reset the password ...","Go to URL : password.reset.com, Enter you logi...",36
213,213,MySpace password expiration,Please reset the passowrd using self service P...,43
214,214,Need Ethernet access,Please connect the LAN cable to the red port o...,41
223,223,The account was blocked due to 3 wrong passwor...,Unlocked the account and new password is sent ...,47

# Datasets with NA

In [69]:
_documents = pd.read_csv("../data/train_tickets_with_NA.csv")
_documents.describe(include = "all")

,Unnamed: 0,Title,Resolution,class
count,236.000000,234,234,236.000000
unique,NaN,185,50,NaN
top,NaN,What is a computer virus?,"Go to URL : password.reset.com, Enter you logi...",NaN
freq,NaN,4,16,NaN
mean,117.500000,NaN,NaN,26.610169
std,68.271517,NaN,NaN,14.314423
min,0.000000,NaN,NaN,0.000000
25%,58.750000,NaN,NaN,14.000000
50%,117.500000,NaN,NaN,29.000000
75%,176.250000,NaN,NaN,38.000000
max,235.000000,NaN,NaN,49.000000

In [70]:
_documents.head(25)

,Unnamed: 0,Title,Resolution,class
0,0,Need Ethernet access,Please connect the LAN cable to the red port o...,41
1,1,Create new account and share the username and ...,"Go to URL : accountsetup.com, Enter personal d...",35
2,2,FW: Myspace Login Issue-- Ania,"Go to URL : password.reset.com, Enter you logi...",36
3,3,Login credetials are not working.,"Go to URL : password.reset.com, Enter you logi...",36
4,4,New Account is needed for a new joinee.,"Go to URL : accountsetup.com, Enter personal d...",35
5,5,Request to configure the system to share it am...,They won't be able to access other profiles if...,46
6,6,Needs permission wifi access to laptop,"First, connect a network cable to your laptop ...",34
7,7,LAN not working in a VM,changed network settings to Bridged and config...,49
8,8,Wifi access needed.,"First, connect a network cable to your laptop ...",34
9,9,My Space QA application is down,We regret for the inconvinience caused. The is...,48
10,10,Configure outlook in my system,IT Team has sent the instructions to configure...,39
11,11,Install postgres database on my machine,"Go to \imfs\software\postgres location, copy p...",37
12,12,System showing blue screen on startup,1. Hold the power button until system gets shu...,32
13,13,Desktop not working,Please check the Power cables are properly plu...,40
14,14,"System behaving strangely, blue screen is appe...","Press F8 button on system start, Choose safe m...",45
15,15,My Internet is not working,"Go to network tab from bottom right corner, ch...",38
16,16,"Account got locked, because of 3 wrong attempt...",Unlocked the account and new password is sent ...,47
17,17,System hangs with blue screen on startup,"Press F8 button on system start, Choose safe m...",45
18,18,Unable to connect to Internet,"Go to network tab from bottom right corner, ch...",38
19,19,Facing network/internet issue with wifi xwq090,"Go to network tab from bottom right corner, ch...",38
20,20,Replace the battery for my Macbook laptop,Please run Battery Helath test and send us the...,44
21,21,Computer is not getting switched on,NaN,33
22,22,"Forgot the password, can you please reset the ...","Go to URL : password.reset.com, Enter you logi...",36
23,23,MySpace Password Expiry,Please reset the passowrd using self service P...,43
24,24,install MS office,Please login to web mail and go to settings -o...,42

In [93]:
column = "Title"
value = ".*(Ethernet|password).*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

_documents.query(query_string).index

Title.str.match('.*(Ethernet|password).*')

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [72]:
column = "Title"
value = ".*(Ethernet|password).*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

__documents = _documents.fillna("nan")
__documents.query(query_string).index

Title.str.match('.*(Ethernet|password).*')

Int64Index([0, 1, 16, 22, 66, 70, 97, 123, 139, 162, 174, 182, 184, 213, 214,
            223],
           dtype='int64')

In [73]:
column = "Title"
value = "password"
operator = "=="
query_string = f"{column}.str.{operator}('{value}')"
query_string = f"{column} {operator} @value"
print(query_string)

#__documents = _documents.fillna("nan")
_documents.query(query_string).index

Title == @value

Int64Index([], dtype='int64')

In [131]:
column = "Title"
value = ".*password.*"
operator = "match"
query_string = f"~{column}.notnull()"
#query_string = f"{column} {operator} @value"
print(query_string)

#__documents = _documents.fillna("nan")
_documents.query(query_string).index

~Title.notnull()

Int64Index([27, 56], dtype='int64')

In [128]:
column = "Title"
value = ".*password.*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}') and {column} != 'NaN'"
#query_string = f"{column} {operator} @value"
print(query_string)

#__documents = _documents.fillna("nan")
_documents.query(query_string).index

Title.str.match('.*password.*') and Title != 'NaN'

Int64Index([1, 16, 22, 66, 70, 123, 139, 162, 182, 184, 213, 223], dtype='int64')

In [127]:
column = "Title"
value = ".*([Ee]thernet|password).*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}') and {column}.notnull()"
#query_string = f"{column} {operator} @value"
print(query_string)

#__documents = _documents.fillna("nan")
_documents.query(query_string).index

Title.str.match('.*([Ee]thernet|password).*') and Title.notnull()

Int64Index([0, 1, 16, 22, 66, 70, 97, 123, 139, 162, 174, 182, 184, 213, 214,
            223],
           dtype='int64')

In [76]:
column = "Title"
value = ".Ethernet"
operator = "contains"
query_string = f"{column}.str.{operator}('{value}') and {column} != 'NaN'"
#query_string = f"{column} {operator} @value"
print(query_string)

#__documents = _documents.fillna("nan")
_documents.query(query_string).index

Title.str.contains('.Ethernet') and Title != 'NaN'

Int64Index([0, 97, 174, 214], dtype='int64')

In [1]:
import uuid
import pandas as pd


class Filters:
    def __init__(self, dataframe, operator = "and", label_column = "label", cluster_id_column = 'cluster_id'):
        """
        This Class represent the aggregation of several filters by an chosen operator
        operator: defines the boolean operation that will be performed between filters in filters_list
        original_dataframe: is the original_dataframe which is updated only at the object creation
        """
        self.original_dataframe = dataframe
        self.updated_dataframe = dataframe
        self.label_series = dataframe[label_column]
        self.cluster_id_column = cluster_id_column
        self. label_column = label_column
        self.filters_list = []
        self.operator = operator
        self.filter_id = uuid.uuid4()
        self.parent_id = parent_id if parent_id is not None else self.filter_id

In [92]:
_documents["label"] = pd.NA
_documents["cluster_id"] = pd.NA
_documents

,Unnamed: 0,Title,Resolution,class,label,cluster_id
0,0,Need Ethernet access,Please connect the LAN cable to the red port o...,41,<NA>,<NA>
1,1,Create new account and share the username and ...,"Go to URL : accountsetup.com, Enter personal d...",35,<NA>,<NA>
2,2,FW: Myspace Login Issue-- Ania,"Go to URL : password.reset.com, Enter you logi...",36,<NA>,<NA>
3,3,Login credetials are not working.,"Go to URL : password.reset.com, Enter you logi...",36,<NA>,<NA>
4,4,New Account is needed for a new joinee.,"Go to URL : accountsetup.com, Enter personal d...",35,<NA>,<NA>
...,...,...,...,...,...,...
231,231,What do I do if my hard drive does not work?,"As with most computer errors, your first step...",2,<NA>,<NA>
232,232,What do I do if the image on the screen is dis...,You may receive a distorted image when the ca...,31,<NA>,<NA>
233,233,What is a computer virus?,A computer virus is a software program that h...,0,<NA>,<NA>
234,234,Why does my mouse behave unpredictably?,Users who have an optical mechanical mouse (m...,26,<NA>,<NA>
235,235,Wi-Fi access required.,"First, connect a network cable to your laptop ...",34,<NA>,<NA>

In [86]:
_documents.label = pd.NA
filters = Filters(_documents)

In [87]:
type(_documents["label"])

pandas.core.series.Series

In [108]:
column = "Title"
value = pd.NA
operator = "=="
query_string = f"~{column}.notnull()"
print(query_string)

_documents.query(query_string).index

~Title.notnull()

Int64Index([27, 56], dtype='int64')

In [126]:
column = "Title"
value = pd.NA
operator = "=="
query_string = f"{column} {operator} 'NaN'"
print(query_string)

_documents.query(query_string).index

Title == 'NaN'

Int64Index([], dtype='int64')

In [109]:
column = "Resolution"
value = pd.NA
operator = "=="
query_string = f"~{column}.notnull()"
print(query_string)

_documents.query(query_string).index

~Resolution.notnull()

Int64Index([21, 225], dtype='int64')

In [133]:
column = "class"
value = pd.NA
operator = "=="
query_string = f"~{column}.notnull()"
print(query_string)

_documents.query(query_string).index

~class.notnull()

SyntaxError: invalid syntax (<unknown>, line 1)

In [114]:
_documents.iloc[[21,27]]

,Unnamed: 0,Title,Resolution,class,label,cluster_id
21,21,Computer is not getting switched on,NaN,33,<NA>,<NA>
27,27,NaN,Just like an Internet URL no spaces are allow...,12,<NA>,<NA>

In [115]:
_documents.columns

Index(['Unnamed: 0', 'Title', 'Resolution', 'class', 'label', 'cluster_id'], dtype='object')

In [117]:
_documents2 = _documents.rename(columns={"class": "category"})

In [120]:
column = "category"
value = pd.NA
operator = "=="
query_string = f"~{column}.notnull()"
print(query_string)

_documents2.query(query_string).index

~category.notnull()

Int64Index([], dtype='int64')

In [122]:
column = "label"
value = pd.NA
operator = "=="
query_string = f"~{column}.notnull()"
print(query_string)

_documents2.query(query_string).index

~label.notnull()

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            226, 227, 228, 229, 230, 231, 232, 233, 234, 235],
           dtype='int64', length=236)

In [137]:
_documents2.iloc[[2,5, 7, 11, 13],4] = "password"

In [145]:
_documents2.loc[[2,5, 7, 11, 13, 17, 19],"label"] = "password"

In [146]:
column = "label"
value = pd.NA
operator = "=="
query_string = f"{column}.notnull()"
print(query_string)

_documents2.query(query_string).index

label.notnull()

Int64Index([2, 5, 7, 11, 13, 17, 19], dtype='int64')

In [147]:
filters.label_dataframe.loc[[3 ,5, 11, 12, 18, 23]] = 0

In [148]:
filters.label_dataframe

0          <NA>
1          <NA>
2      password
3             0
4          <NA>
         ...
231        <NA>
232        <NA>
233        <NA>
234        <NA>
235        <NA>
Name: label, Length: 236, dtype: object