In [166]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [167]:
import pandas as pd

In [168]:
documents = pd.read_csv("../data/gapminder2007.csv", sep=";", encoding="utf-8")

In [169]:
documents.shape

(142, 6)

In [170]:
documents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           142 non-null    object
 1   continent    142 non-null    object
 2   description  142 non-null    object
 3   pop          140 non-null    float64
 4   lifeExp      142 non-null    float64
 5   gdpPercap    142 non-null    float64
dtypes: float64(3), object(3)
memory usage: 6.8+ KB

In [171]:
documents.describe()

                pop     lifeExp     gdpPercap
count  1.400000e+02  142.000000    142.000000
mean   4.416147e+07   67.007423  11680.071820
std    1.486302e+08   12.073021  12859.937337
min    1.995790e+05   39.613000    277.551859
25%    4.537476e+06   57.160250   1624.842248
50%    1.051753e+07   71.935500   6124.371109
75%    2.985028e+07   76.413250  18008.835640
max    1.318683e+09   82.603000  49357.190170

In [172]:
documents.head()

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640

# is equal to (single value)

In [173]:
documents[documents["description"] == "Europe"]

Empty DataFrame
Columns: [Id, continent, description, pop, lifeExp, gdpPercap]
Index: []

In [174]:
documents[documents["continent"] == "Europe"].head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820

In [175]:
column = "continent"
value = "Europe"
documents[documents[column] == value].head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820

In [176]:
column = "continent"
value = "Europe"
operator = "=="
documents.query(f"{column} {operator} '{value}'").head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820

In [177]:
documents[documents["pop"] == 8199783.0]

,Id,continent,description,pop,lifeExp,gdpPercap
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.4927

In [178]:
column = "pop"
value = 8199783.0
documents[documents[column] == value ]

,Id,continent,description,pop,lifeExp,gdpPercap
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.4927

In [179]:
column = "pop"
value = 8199783.0
operator = "=="
documents.query(f"{column} {operator} {value}" ).head()

,Id,continent,description,pop,lifeExp,gdpPercap
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.4927

# is greater than or equal to

In [182]:
documents[documents["pop"] >= 8199783.0]

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
...,...,...,...,...,...,...
136,Venezuela,Americas,in South America,26084662.0,73.747,11415.805690
137,Vietnam,Asia,a country in Asia,85262356.0,74.249,2441.576404
139,Yemen,Asia,a country in Asia,22211743.0,62.698,2280.769906
140,Zambia,Africa,continent,11746035.0,42.384,1271.211593
141,Zimbabwe,Africa,another country in Africa,12311143.0,43.487,469.709298

In [183]:
column = "pop"
value = "8199783.0"
operator = "=="
documents.query(f"{column} {operator} '{value}'" ).head()

,Id,continent,description,pop,lifeExp,gdpPercap
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.4927

In [184]:
column = "pop"
value = 8199783.0
operator = "<="
documents.query(f"{column} {operator} {value}" ).head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
7,Bahrain,Asia,a very small country,708573.0,75.635,29796.048340
10,Benin,Africa,another country in Africa,8078314.0,56.728,1441.284873
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

# is not equal to

In [185]:
documents[documents["continent"] != "Europe"]

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
...,...,...,...,...,...,...
137,Vietnam,Asia,a country in Asia,85262356.0,74.249,2441.576404
138,West Bank and Gaza,Asia,a country in Asia,4018332.0,73.422,3025.349798
139,Yemen,Asia,a country in Asia,22211743.0,62.698,2280.769906
140,Zambia,Africa,continent,11746035.0,42.384,1271.211593
141,Zimbabwe,Africa,another country in Africa,12311143.0,43.487,469.709298

In [186]:
column = "continent"
value = "Europe"
operator = "!="
documents.query(f"{column} {operator} '{value}'").head()

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440

In [187]:
column = "continent"
value = "'Europe'"
operator = "!="
documents.query(f"{column} {operator} {value}").head()

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440

In [188]:
column = "continent"
value = "Europe"
operator = "=="
f"{column} {operator} @value"
documents.query(f"{column} {operator} @value").head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820

# in a list

In [189]:
documents[documents["continent"].isin(["Europe", "Oceania"])].head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

In [190]:
column = "continent"
value = ["Europe", "Oceania"]
operator = "=="
f"{column} {operator} @value"
documents.query(f"{column} {operator} @value").head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

In [191]:
column = "continent"
value = ["Europe", "Oceania"]
operator = "=="
f"{column} {operator} @value"
documents.query(f"{column} {operator} @value").index

Int64Index([  1,   5,   6,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,
             56,  57,  62,  64,  84,  90,  91,  95, 102, 103, 106, 111, 114,
            115, 118, 122, 123, 131, 133],
           dtype='int64')

In [192]:
column = "continent"
value = ["Europe", "Oceania"]
operator = "=="
f"{column} {operator} @value"
documents.query(f"{column} {operator} @value").index, documents.iloc[documents.query(f"{column} {operator} @value").index].head()

(Int64Index([  1,   5,   6,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,
              56,  57,  62,  64,  84,  90,  91,  95, 102, 103, 106, 111, 114,
             115, 118, 122, 123, 131, 133],
            dtype='int64'),
                         Id continent  \
 1                  Albania    Europe
 5                Australia   Oceania
 6                  Austria    Europe
 9                  Belgium    Europe
 12  Bosnia and Herzegovina    Europe

                                           description         pop  lifeExp  \
 1                                    un pays d'Europe   3600523.0   76.423
 5   le plus grand pays d'Océanie avec un grand dés...  20434176.0   81.235
 6                un pays d'Europ où on parle allemand   8199783.0   79.829
 9   a small European country with French as one of...  10392226.0   79.441
 12                           small European countries   4552198.0   74.852

        gdpPercap
 1    5937.029526
 5   34435.367440
 6   36126.492700
 9   33692.605080
 12   7446.298803  )

In [193]:
column = "continent"
value = "Europe,Oceania"
list_values = value.split(",")
operator = "=="
documents.query(f"{column} {operator} @list_values").head()

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

In [194]:
documents["continent"].isin(["Europe", "Oceania"])

0      False
1       True
2      False
3      False
4      False
       ...
137    False
138    False
139    False
140    False
141    False
Name: continent, Length: 142, dtype: bool

# No in a list

In [195]:
documents[~documents["continent"].isin(["Europe", "Oceania", "Asia"])]

,Id,continent,description,pop,lifeExp,gdpPercap
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
10,Benin,Africa,another country in Africa,8078314.0,56.728,1441.284873
11,Bolivia,Americas,a very poor country in South America with no a...,9119152.0,65.554,3822.137084
...,...,...,...,...,...,...
134,United States,Americas,Americas,301139947.0,78.242,42951.653090
135,Uruguay,Americas,Americas,3447496.0,76.384,10611.462990
136,Venezuela,Americas,in South America,26084662.0,73.747,11415.805690
140,Zambia,Africa,continent,11746035.0,42.384,1271.211593
141,Zimbabwe,Africa,another country in Africa,12311143.0,43.487,469.709298

In [196]:
column = "continent"
value = "Europe,Americas,Asia,Africa"
list_values = value.split(",")
operator = "!="
documents.query(f"{column} {operator} @list_values").head()

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [197]:
column = "continent"
value = "Europe,Americas,Asia,Africa"
list_values = value.split(",")
operator = "!="
print(documents.query(f"{column} {operator} @list_values").index)
documents.query(f"{column} {operator} @list_values").head()

Int64Index([5, 91], dtype='int64')

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [198]:
column = "continent"
value = "Europe,Americas,Asia,Africa"
list_values = value.split(",")
operator = "not in"
print(documents.query(f"{column} {operator} @list_values").index)
documents.query(f"{column} {operator} @list_values").head()

Int64Index([5, 91], dtype='int64')

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [199]:
column = "continent"
value = "Oceania"
list_values = value.split(",")
operator = "in"
print(documents.query(f"{column} {operator} @list_values").index)
documents.query(f"{column} {operator} @list_values").head()

Int64Index([5, 91], dtype='int64')

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [200]:
column = "continent"
value = "Oceania,Europe"
list_values = value.split(",")
operator = "in"
print(f"{column} {operator} {list_values}")
documents.query(f"{column} {operator} {list_values}").head()

continent in ['Oceania', 'Europe']

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440
6,Austria,Europe,un pays d'Europ où on parle allemand,8199783.0,79.829,36126.492700
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803

In [201]:
column = "continent"
value = "Oceania"
list_values = value.split(",")
operator = "=="
print(f"{column} {operator} {list_values}")
documents.query(f"{column} {operator} {list_values}").head()

continent == ['Oceania']

,Id,continent,description,pop,lifeExp,gdpPercap
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.36744
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [202]:
column = "continent"
value = "Oceania,Europe"
list_values = value.split(",")
operator = "in"
print(f"{column} {operator} {value}")
documents.query(f"{column} {operator} {value}").head()

continent in Oceania,Europe

UndefinedVariableError: name 'Oceania' is not defined

# Tests on contains and doesn't contain

In [165]:
column = "description"
value = "'Ocea'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"{column}.str.contains({value})").head()

["'Ocea'"] in description

,Id,continent,description,pop,lifeExp,gdpPercap
91,New Zealand,Oceania,extreme country located in Oceania,4115771.0,80.204,25185.00911

In [164]:
column = "description"
value = "'Europe'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"{column}.str.contains({value})").head()

["'Europe'"] in description

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820
31,Croatia,Europe,a country in Europe,4493312.0,75.748,14619.222720

In [163]:
column = "description"
value = "'Europe'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"{column}.str.contains({value})").head()

["'Europe'"] in description

,Id,continent,description,pop,lifeExp,gdpPercap
1,Albania,Europe,un pays d'Europe,3600523.0,76.423,5937.029526
9,Belgium,Europe,a small European country with French as one of...,10392226.0,79.441,33692.605080
12,Bosnia and Herzegovina,Europe,small European countries,4552198.0,74.852,7446.298803
15,Bulgaria,Europe,a country in Europe,7322858.0,73.005,10680.792820
31,Croatia,Europe,a country in Europe,4493312.0,75.748,14619.222720

In [161]:
column = "description"
value = "'Europe'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"{column}.str.contains({list_values})").head()

["'Europe'"] in description

TypeError: unhashable type: 'list'

# Doesn't contain

In [136]:
column = "description"
value = "'Europe'"
list_values = value.split(",")
operator = "in"
print(f"{list_values} {operator} {column}")
documents.query(f"~{column}.str.contains({value})").head()

["'Europe'"] in description

,Id,continent,description,pop,lifeExp,gdpPercap
0,Afghanistan,Asia,un certain pays en Asie,31889923.0,43.828,974.580338
2,Algeria,Africa,un pays en Afrique du Nord,33333216.0,72.301,6223.367465
3,Angola,Africa,un pays d'Afrique,12420476.0,42.731,4797.231267
4,Argentina,Americas,un grand pays en Amérique du Sud,40301927.0,75.320,12779.379640
5,Australia,Oceania,le plus grand pays d'Océanie avec un grand dés...,20434176.0,81.235,34435.367440

In [115]:
s1 = "Ceci est un test de contenu d'un mot dans une phrase"

In [149]:
s1, s1.lower()

("Ceci est un test de contenu d'un mot dans une phrase",
 "ceci est un test de contenu d'un mot dans une phrase")

In [117]:
"mot" in s1

True

In [118]:
"mots" in s1

False

In [147]:
documents.query("description.str.lower().str.contains('europe')").index

Int64Index([  1,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,  56,  57,
             62,  64,  84,  90,  95, 102, 103, 106, 111, 114, 115, 118, 122,
            123, 131, 133],
           dtype='int64')

In [247]:
documents.description.str.match(".*pays.*").sum()

7

In [155]:
documents.query("description.str.contains('Europe', case=False)").index

Int64Index([  1,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,  56,  57,
             62,  64,  84,  90,  95, 102, 103, 106, 111, 114, 115, 118, 122,
            123, 131, 133],
           dtype='int64')

In [225]:
output = documents.description.str.contains('Europe')

In [226]:
output

0      False
1       True
2      False
3      False
4      False
       ...
137    False
138    False
139    False
140    False
141    False
Name: description, Length: 142, dtype: bool

In [227]:
documents.index[output]

Int64Index([  1,   9,  12,  15,  31,  33,  34,  43,  44,  47,  49,  56,  57,
             62,  64,  84,  90,  95, 102, 103, 106, 111, 114, 115, 118, 122,
            123, 131, 133],
           dtype='int64')

In [225]:
output = documents.description.str.endswith('Europe')
documents.index[output]

In [238]:
column = "description"
value = "un pays"
operator = "contains"
case = False
query_string = f"{column}.str.{operator}('{value}',case={case})"
print(query_string)

documents.query(query_string).index

description.str.contains('un pays',case=False)

Int64Index([1, 2, 3, 6], dtype='int64')

In [240]:
column = "description"
value = "un pays"
operator = "startswith"
case = False
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

documents.query(query_string).index

description.str.startswith('un pays')

Int64Index([1, 2, 3, 6], dtype='int64')

In [242]:
column = "description"
value = "rope"
operator = "endswith"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

documents.query(query_string).index

description.str.endswith('rope')

Int64Index([  1,  15,  31,  33,  34,  43,  44,  47,  49,  56,  57,  62,  64,
             84,  90,  95, 102, 103, 106, 111, 114, 115, 118, 122, 123],
           dtype='int64')

In [249]:
column = "description"
value = ".*pays.*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

documents.query(query_string).index

description.str.match('.*pays.*')

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [253]:
column = "description"
value = ".*(pays|country).*"
operator = "match"
query_string = f"{column}.str.{operator}('{value}')"
print(query_string)

documents.query(query_string).index

description.str.match('.*(pays|country).*')

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   9,  10,  11,  13,  14,
             15,  16,  17,  18,  24,  31,  33,  34,  43,  44,  46,  47,  49,
             51,  55,  56,  57,  58,  59,  60,  61,  62,  63,  66,  67,  69,
             70,  71,  72,  73,  76,  78,  83,  84,  85,  87,  89,  90,  91,
             94,  95,  96,  97, 101, 102, 103, 106, 109, 111, 113, 114, 115,
            118, 119, 122, 123, 124, 125, 127, 131, 133, 137, 138, 139, 141],
           dtype='int64')

In [264]:
operators = { 'eq': "==",
            "==": "==",
            "in": "==",
            "not in": "!=",
            "!=": "!=",
            "ne": "!=",
            "contains": "contains",
            "match": "match",
            "startswith": "startswith",
            "endswith": "endswith",
            "ge": ">=",
            ">=": ">=",
            "gt": ">",
            ">": ">",
             "le": "<=",
            "<=": "<=",
            "lt": "<",
            "<": ">"
            }

In [265]:
operator_location = { 'eq': "pre",
            "==": "pre",
            "in": "pre",
            "not in": "pre",
            "!=": "pre",
            "ne": "pre",
            "contains": "str",
            "match": "str",
            "startswith": "str",
            "endswith": "str",
            "ge": "pre",
            ">=": "pre",
            "gt": "pre",
            ">": "pre",
             "le": "pre",
            "<=": "pre",
            "lt": "pre",
            "<": "pre"
            }

In [265]:
operator_type = { 'eq': "multi",
            "==": "multi",
            "in": "multi",
            "not in": "multi",
            "!=": "multi",
            "ne": "multi",
            "contains": "uni",
            "match": "uni",
            "startswith": "uni",
            "endswith": "uni",
            "ge": "uni",
            ">=": "uni",
            "gt": "uni",
            ">": "uni",
             "le": "uni",
            "<=": "uni",
            "lt": "uni",
            "<": "uni"
            }

In [261]:
operators["eq"]

'=='

In [262]:
operators["tt"]

KeyError: 'tt'

In [258]:
operators.get("tt", None)

In [259]:
operators.get("in", None)

'=='

In [ ]:
value =